<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Initial Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="https://petsitters.by/css/app/header1.min.css?v9"
          rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Petsitter project</h1>
    <ul class="nav pull-right">
        <li><a th:href="@{/doLogout}" class="menu-right"> Logout </a></li>
    </ul>
    <ul class="nav pull-right">
        <li><a href="/user" class="menu-right"> User profile </a></li>
    </ul>
    <span sec:authentication="name">Bob</span>
    <div sec:authorize="true">
        authorize - always
    </div>

    <div sec:authorize="false">
        authorize - never
    </div>

    <div class="container" sec:authorize="isAnonymous()">
        authorize - anonymous
    </div>

    <div class="container" sec:authorize="!isAnonymous()">
        authorize - not anonymous
    </div>

    <div class="container" sec:authorize="isAuthenticated()">
        authorize - authenticated
    </div>

    <div class="container" sec:authorize="!isAuthenticated()">
        authorize - not authenticated
    </div>

    <div class="container" sec:authorize="hasRole('PET_SITTER')">
        PETSITTER role
    </div>

    <div class="container" sec:authorize="hasRole('PET_OWNER')">
        PET_OWNER role
    </div>
    <strong> Username: <span sec:authentication="name"></span> </strong>

    <div sec:authorize="hasAuthority('PET_SITTER')">
        This content is only shown to PET_SITTER
    </div>

    <div sec:authorize="hasAuthority('PET_OWNER')">
        This content is only shown PET_OWNER
    </div>
</div>
<div>

</div>
</body>
</html>