<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <title>Pet information</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:replace="/fragments/header :: header"/>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5"
                     th:with="imageURI=${pet.getFileDb() != null} ? ${pet.getFileDb().getId()} : '-1'"
                     width="150px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                     th:src="@{'pet/image/' + ${imageURI}}">

                <!-- The Modal -->
                <div class="modal" id="updateImage">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'pet/image/' + ${pet.id}}" method="post" action="#"
                                  enctype="multipart/form-data">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update user image</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">

                                    <p>Please upload new image</p>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Photo upload</label>
                                            <input type="file" name="file"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal" id="deletePet">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'pet/remove?id=' + ${pet.getId()}}" method="post" action="#">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Pet remove</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this pet?</p>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <span
                        class="font-weight-bold" th:text="${pet.getPetName()}">Pet name</span><span
                    class="text-black-50"
                    th:text="${pet.getPetType().getName()}">Pet name</span><span>
                </span>
                <p></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateImage">
                    Change image
                </button>
                <p></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deletePet">
                    Delete pet
                </button>
            </div>

        </div>
        <div class=" col-md-5 border-right">
            <form action="#" th:action="@{/pet}" th:object="${pet}" method="post">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Add pet</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="pet name"
                                   th:field="*{petName}">
                            <input type="hidden" class="form-control" placeholder="pet name"
                                   th:field="*{id}">
                        </div>
                        <div class="col-md-6"><label class="labels">Age</label><input type="text"
                                                                                      class="form-control"
                                                                                      th:field="*{age}"
                                                                                      placeholder="pet age">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Pet type</label>
                            <div class="col-xs-10">
                                <select class="form-control" th:field="*{petType}">
                                    <option th:each="petT : ${petTypeList}" th:value="${petT.getId()}"
                                            th:text="${petT.getName()}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Pet size</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="enter pet size"
                                   th:field="*{size}">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-xs-2" for="dropOperator">Pet sex</label>
                            <div class="col-xs-10">
                                <select class="form-control" th:field="*{petSex}" id="dropOperator">
                                    <option th:value="'BOY'" th:text="Boy"></option>
                                    <option th:value="'GIRL'" th:text="Girl"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12"><label class="labels">Breed</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="breed"
                                                                                         th:field="*{breed}">
                        </div>
                        <div class="col-md-12"><label class="labels">Color</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="Color"
                                                                                         th:field="*{color}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Has veterinar Passport?</label>
                            <select class="form-control" th:field="*{hasVeterinarPassport}">
                                <option th:value="true">Yes</option>
                                <option th:value="false">No</option>
                            </select>
                        </div>

                        <div class="col-md-12"><label class="labels">Additional details</label><textarea type="text"
                                                                                                         class="form-control"
                                                                                                         placeholder="Description"
                                                                                                         th:field="*{description}"></textarea>
                        </div>
                        <div class="mt-5 text-center">
                            <input class="btn btn-primary profile-button" type="submit" value="Update pet"/>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>