<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Petsitter page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5"
                     th:with="imageURI=${petsitterProfileDto.getFileDbId() != 0} ? ${petsitterProfileDto.getFileDbId()} : '-1'"
                     width="150px"
                     th:src="@{'profile/image/' + ${imageURI}}">
                <!-- Button to Open the Modal -->

                <!-- The Modal -->
                <div class="modal" id="updateImage">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{/updateProfileImage}" method="post" action="#"
                                  enctype="multipart/form-data">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Update user image</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">

                                    <p>Please upload new image</p>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Photo upload</label>
                                            <input type="file" name="file"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal" id="changePassword">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{/changePassword}" method="post" action="#">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Change password</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">

                                    <p>Please fill the following fields</p>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Old password</label>
                                            <input type="password"
                                                   class="form-control"
                                                   placeholder="enter old password">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">New password</label>
                                            <input type="password"
                                                   class="form-control"
                                                   placeholder="enter new password">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">New password confirmation</label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="New password confirmation">
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <span
                        class="font-weight-bold" th:text="${petsitterProfileDto.getNameFirst()}">Edogaru</span><span
                    class="text-black-50"
                    th:text="${petsitterProfileDto.getEmail()}">edogaru@mail.com.my</span><span>
                </span>
                <p></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateImage">
                    Change image
                </button>
                <p></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
                    Change password
                </button>
                <p></p>
            </div>

        </div>
        <div class=" col-md-5 border-right">
            <form action="#" th:action="@{/updatePetsitter}" th:object="${petsitterProfileDto}" method="post">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Petsitter Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                            <input type="text" class="form-control" placeholder="first name"
                                   th:field="*{nameFirst}">
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                                                          class="form-control"
                                                                                          th:field="*{nameLast}"
                                                                                          placeholder="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="enter phone number"
                                   th:field="*{phone}">
                        </div>
                        <div class="col-md-12">

                            <label class="control-label col-xs-2" for="dropOperator">City</label>
                            <div class="col-xs-10">
                                <select class="form-control" th:field="*{cityId}" id="dropOperator">
                                    <option th:each="city : ${cityList}" th:value="${city.getId()}"
                                            th:text="${city.getName()}"
                                            th:selected="*{cityId}"
                                    ></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                                                                         class="form-control"
                                                                                         placeholder="new email"
                                                                                         th:field="*{email}"
                                                                                         disabled>
                        </div>
                        <div class="col-md-12"><label class="labels">Birthdate</label><input type="date"
                                                                                             class="form-control"
                                                                                             placeholder="Birthdate"
                                                                                             th:field="*{birthdate}">
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-xs-2" for="dropOperator">Pet size which you are able to
                                adopt</label>
                            <select class="form-control" th:field="*{petSizeLimitId}">
                                <option value="0" hidden="true">select pet size</option>
                                <option th:each="petSize : ${sizeLimits}" th:value="${petSize.getId()}"
                                        th:text="${petSize.getName()} + '(before ' + ${petSize.getSizeMax()} + ' kg)'"
                                        th:selected="*{petSizeLimitId}"></option>
                            </select>
                        </div>

                        <div class="col-md-12" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
                            <label class="labels">Description</label>
                            <textarea type="text"
                                      class="form-control"
                                      placeholder="Pet sitter description"
                                      th:field="*{description}" th:text="*{description}"></textarea>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                  class="help-block">birthdate error</span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels" for="dropOperator">Services:</label>
                            <br/>
                            <input type="checkbox" name="petsitCheckbox" id="petsitCheckbox" th:value="*{isPetsittingProvided}"
                                   th:checked="*{isPetsittingProvided}"/>
                            <label for="petsitCheckbox" data-value="walker"
                                   class="form__label label--checkbox">Petsitting</label>
                            <input type="checkbox" name="petwalkgingCheckbox" id="petwalkgingCheckbox"
                                   th:checked="*{isDogWalkingProvided}"/>
                            <label for="petwalkgingCheckbox" data-value="walker" class="form__label label--checkbox">Pet
                                walking</label>
                        </div>

                        <div class="col-md-12" th:if="*{isPetsittingProvided}">
                            <label class="labels">Petsitting cost per day (in BYN)</label>
                            <input type="text" class="form-control"
                                   placeholder="petsitting cost per day"
                                   th:field="*{costInDayPetsitting}">
                        </div>

                        <div class="col-md-12" th:if="*{isDogWalkingProvided}">
                            <label class="labels">Petsitting cost per hour (in BYN)</label>
                            <input type="text" class="form-control"
                                   placeholder="petsitting cost per day"
                                   th:field="*{costInHourDogWalking}">
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <input class="btn btn-primary profile-button" type="submit" value="Save Profile"/>
                </div>
                <div th:switch="${message}">
                    <div th:case="'Success'" class="alert alert-success">
                        <strong>Success!</strong> Operation performed successfully.
                    </div>
                    <div th:case="'Failed'" class="alert alert-danger">
                        <strong>Failure!</strong> Operation failed. Please try again
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>My pets</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>