<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/fragments/header :: header-css"/>
    <title>Search</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:replace="/fragments/header :: header"/>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <div class=" col-md-5 border-right">
            <form action="#" th:action="@{/petsitSearch}" th:object="${petsitterSearchDto}" method="get">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Service Search</h4>
                    </div>
                </div>
            </form>
        </div>
        <div class=" col-md-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Petsitter search</h4>
            </div>
            <div th:each="petsitter : ${petsittersList}">
                <figure class="figure">
                    <img th:with="imageURI=${petsitter.getFileDbId() != null} ? ${petsitter.getFileDbId()} : '-1'"
                         th:src="@{'profile/image/' + ${imageURI}}" class="figure-img img-fluid rounded"
                         alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption"
                                th:text="${petsitter.getPetsitterName()} + ': ' + ${petsitter.getCity()} + ' , cost for service ' + ${petsitter.getCostForServicePerUnit()}">
                        A caption for the above image.
                    </figcaption>
                    <form method="GET" th:action="@{'/profile/petsitterInfo/' + ${petsitter.petsitterId}}" th:object="${petsitterSearchDto}">
                        <input type="hidden" th:field="*{petType}">
                        <input type="hidden" th:field="*{petSize}">
                        <input type="hidden" th:field="*{petsitterService}">
                        <input type="hidden" th:field="*{startDate}">
                        <input type="hidden" th:field="*{endDate}">
                        <input type="hidden" th:field="*{city}">
                        <button type="submit" value="Book service" class="btn btn-secondary">See details</button>
                    </form>
                </figure>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>